<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара в каталог</title>
</head>
<body style="text-align: center">
<h3>Добавление товара в каталог</h3>

<form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
  <label for="title">Введите наименование: </label><br>
    <input type="text" th:field="*{title}" placeholder="Название товара" id="title">
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
  <label for="description">Введите описание: </label><br>
    <textarea th:field="*{description}" placeholder="Описание товара" id="description"></textarea>
        <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
   <br>
   <br>
    <label for="price">Введите цену: </label><br>
        <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
            <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите адрес склада: </label><br>
        <input type="text" th:field="*{warehouse}" placeholder="Адрес склада" id="warehouse">
            <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="seller">Укажите продавца: </label><br>
        <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
            <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию товара: </label>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
        </div>
    </select>
    <br>
    <br>
    <p style="color: red">Загрузите не более 5 изображений товара. Первое изображение будет главным, поэтому является обязательным!!!</p>
    <br>
    <input type="file" name="file_one">
    <input type="file" name="file_two">
    <input type="file" name="file_three">
    <input type="file" name="file_four">
    <input type="file" name="file_five">
    <br>
    <br>
    <input type="submit" value="Добавить товар">
</form>
</body>
</html>