<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
</head>
<body style="text-align: center">
<h3 >Личный кабинет администратора</h3>

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Выйти из личного кабинета">
</form>
<br>
<a href="admin/product/add">Добавление товаров</a>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Название: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Адрес склада: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
    <hr>
</div>
</body>
</html>